<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "Parallel Testing Suite" parallel = "tests" thread-count = "2">
   <test name = "Parallel Tests1">
      <classes>
         <class name = "ChromeTest" />
      </classes>
   </test>
   <test name = "Parallel Tests2">
      <classes>
         <class name = "ChromeTest" />
      </classes>
   </test>
</suite>
